mixin input(name, placeholder, type)
  - if (typeof(type) === 'undefined') type = text
  - if (typeof(placeholder) === 'undefined') placeholder = ''
  input(type=type, name=name, id=name, placeholder=placeholder)&attributes(attributes)

mixin textarea(name, placeholder)
  - if (typeof(type) === 'undefined') type = text
  - if (typeof(placeholder) === 'undefined') placeholder = ''
  textarea(name=name, id=name, placeholder=placeholder)&attributes(attributes)

mixin checkbox(name)
  input(type='checkbox', name=name, id=name)&attributes(attributes)

mixin radio(name, id)
  input(type='radio', name=name, id=id)&attributes(attributes)

mixin button(text, name, type)
  - if (typeof(type) === 'undefined') type = 'submit'
  button(type=type, name=name, id=name)&attributes(attributes)
    if block
      block
    else
      !=text